<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!--<p th:text="${random}"/>-->
<h1>The computer has chosen: * number</h1>
<h1>Get Your number</h1>
<h1>Find a computer choice between 1 and 10.</h1>
<h1>Do it in the least amount of moves.</h1>

<form th:object="${numberFromUser}" th:action="@{/game}" method="post">
    <p>value: <input type="text" th:field="*{userValue}"></p>
    <p><input type="submit" value="check!"></p>
</form>

<p th:text="${result}"/>

</body>
</html>